<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cleverpush-cordova-plugin"
        version="0.0.1">

    <name>CleverPush</name>
    <author>Marius Gebhardt</author>

    <description>Mit CleverPush können Webseitenbetreiber Push Benachrichtigungen an Ihre Abonnenten senden, auch wenn diese gerade nicht auf der Seite sind.</description>

    <keywords>push,notification,cleverpush</keywords>

    <license>MIT</license>

    <js-module src="www/CleverPush.js" name="CleverPush">
        <clobbers target="CleverPush" />
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="apple-xcode" version=">=6.2.0" />
        <engine name="apple-ios" version=">=7.0.0" />
    </engines>

    <platform name="android">


        <framework src="com.google.android.gms:play-services-gcm:+" />
        <framework src="com.google.android.gms:play-services-analytics:+" />
        <framework src="com.google.android.gms:play-services-location:+" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CleverPush" >
                <param name="android-package" value="com.plugin.gcm.CleverPush" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false" xmlns:amazon="http://schemas.amazon.com/apk/res/android" />
            <service android:name="com.cleverpush.ADMMessageHandler" android:exported="false" />
            <receiver
                    android:name="com.cleverpush.ADMMessageHandler$Receiver"
                    android:permission="com.amazon.device.messaging.permission.SEND" >
                <intent-filter>
                    <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                    <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/com/plugin/gcm/CleverPush.java" target-dir="src/com/plugin/gcm/" />
    </platform>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="CleverPush">
                <param name="ios-package" value="CleverPush"/>
            </feature>
        </config-file>

        <framework src="SystemConfiguration.framework" />

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

    </platform>

</plugin>
